* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,body {
  overflow-x: hidden;
  background-image: linear-gradient(to bottom, #020025, #2b2b44, #555365, #807f89, #aeaeae);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh
}
h3 {
  padding-bottom: 2rem;
  color: rgb(10, 10, 10);
  font-size: 1.8rem;
}
button {
  padding: 16px 8px;
  width: 100%;
  margin-top: 12px;
  font-size: 1.4rem;
  border-radius: 8px;
  cursor: pointer;
  background-color: #e5e5e5;
  color: rgb(7, 7, 7);
}

.btn-disabled {
  background-color: aliceblue;

}

li {
  list-style: none;
  cursor: pointer;
  margin: 9px;
  padding: 16px 8px;
  color: black;
  font-weight: bold;
  border: 1px solid lightgray;
}
.li-hover:hover {
  background-color: #020025;
  color: white;
}

.li-selected{
  color: #fff;
  background-color: #020025;

}

.container {
  max-width: 740px;
  width: 100%;
  margin: auto;
  padding: 1rem;
}

.quiz-container{
  background-color: aliceblue;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 8px;

}

.container p {
  padding: 8px 0;
}

h1 {
  font-size: 2rem;
  padding: 1rem 0;
  color: white;
}
h2 {
  font-size: 1.5rem;
  padding: 1rem 0;
  color: white;

}
.main-container {
  background-color: aliceblue;
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 8px;
}
.main-btn {
  padding: 4px;

  margin-top: 4px;
  font-size: 1.4rem;
  border-radius: 8px;
  cursor: pointer;
  background-color: #080808;
  color: rgb(214, 213, 219);
  align-items: center;
  justify-content :flex-end;
}
.text{
  color: rgb(0, 0, 0);
}